html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* style */

body{
    background-color: #eaeaea;
    color: #333333;
	background-image: url(backround.webp);
}

.container{
    width: 800px;
    margin: auto;
}

.header{
	padding: 20px;
	padding-bottom: 5px;
}

.header .judul{
	font-size: 40px;
	font-weight: bold;
    text-align: center;
	color:#793005;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.header ul li {
	display: inline-block;
	margin-top: 20px ;
	margin-right: 10px;
}

.header a{
	text-decoration: none;
	color: black;
	padding: 3px;
	
}
ul{
	text-align: center;
}

.header a:hover{
	background-color: #793005;
	color: white;	
}

.gambar{
	height: 350px;
	background-image:url(Ikan\ di\ Akuarium.webp) ;
	background-size:cover;
	background-position: 0px -65px;
	border-bottom: 5px solid rgb(118, 57, 13);
	border-top: 5px solid rgb(118, 57, 13) ;
	margin: 30px 30px 30px 30px;
}

.content{
	padding: 20px; 
}
.content h2{
	font-size: 20px;
	font-weight:bold ;
	font-variant: small-caps;
    font-family:   Georgia, 'Times New Roman', Times, serif ;
}

.content p{
	margin-bottom: 20px;
	font-size: 15px ;
	text-align: justify;
	font-family: Verdana, Tahoma, sans-serif;
    line-height: 20px;
}

.footer .copy{
	color: #eaeaea;
	text-align: center;
	font-size: 12px;

}
.container{
    background-color:#faebd7;
}

.ikan .judul{
	text-align: center;
	font-size: 30px;
	padding: 10px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: bold;
	color: black;
}

.ikan1{
	text-align: center;
	font-size: large;
    padding:40px;
	font-weight:bold;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.ikan2{
	text-align: center;
	font-size: large;
	font-weight: bold;
	width: 180px;
	height: 150px;
	padding: 60px;
	margin: 0px 0px 0px 90px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.ikan3{
	text-align: center;
	font-size: large;
    padding: 40px;
	font-weight:bold;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.ikan4{
	text-align: center;
	font-size: large;
	font-weight: bold;
	width: 180px;
	height: 150px;
	padding: 60px;
	margin: 0px 0px 0px 90px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.ikan5{
	text-align: center;
	font-size: large;
    padding: 40px;
	font-weight:bold;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.ikan6{
	text-align: center;
	font-size: large;
	font-weight: bold;
	width: 180px;
	height: 150px;
	padding: 60px;
	margin: 0px 0px 0px 90px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.ikan1 img{
	height: 150px;
	margin-top: 25px;
}

.ikan3 img{
	height:150px;
	margin-top: 25px;
}

.ikan5 img{
	height:150px;
	margin-top: 25px;
}

.ikan2 img {
	
	height: 150px;
}

.adalah1 {
	display: flex;
}

.ikan4 img{
	height: 150px;
}

.adalah2{
	display: flex;
}

.ikan6 img{
    height:150px ;
}

.adalah3{
	display: flex;
}

.ikan{
	background-image: url(latar.jpg);
	margin: 0px 30px;
}	
