*{
   padding: 0;
   margin: 0;
}

img {
   width: 100%;
}

body {
   background-color: #ddd;
   font-size: 18px;
   font-family: 'oswald' Arial, Helvetica, sans-serif;
   margin: 50px;
}

 /* Container */
.container {
   display: grid;
   gap: 10px;
}

 /* Header */
.header {
   display: grid;
   grid-template-areas: 
   'hero hero feature-1'
   'hero hero feature-2';
}

.hero {
   grid-area: hero;
   min-height: 350px;
   background-image: url(img/hero.jpg);
   background-size: cover;
   background-position: center;
   padding: 50px;
   margin: 2px;
   box-shadow: 0 4px 10px #000;
}

 .hero > * {
display: none;
}

.features {
   background-color: #000;
   color: white;
   display: grid;
   /* justify-content: center;
    align-content: center; */
   place-content: center;
   text-align: center;
   cursor: pointer;
} 

.feature-1 {
   grid-area: feature-1;
   background-image: url(img/jacket.jpg);
   background-size: cover;
   margin: 2px;
   box-shadow: 0 4px 10px #000 ;
}
.features span {
   color: #000;
}

.feature-2 {
   grid-area: feature-2;
   background-image: url(img/flannel.jpg);
   background-size: cover;
   margin: 2px;
   box-shadow: 0 4px 10px #000;
}

.features .price {
   font-size: 3em;
   font-weight: 200px;
   text-shadow: 2px 3px 5px #000;
}
 /* Header End */
 /* Navbar */
.menu {
   order: -1;
   display: grid;
   grid-template-columns: 1fr 2fr;
   align-items: center  ;
    /* background-color: orange; */
   margin-top: 5px;
}

.menu .brand {
   font-size: 1.3em;
   color: #333;
} 
.menu ul {
   list-style: none;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
   gap: 5px;
}

.menu a {
   display: block;
   background-color: #000;
   color: white;
   text-decoration: none;
   text-align: center;
   padding: 5px;
   text-transform: uppercase;
   font-size: 0.9em
}
 /* Navbar End */

 /* hamburger menu */
.menu-toggle {
   display: none;
   flex-direction: column;
   height: 20px;
   justify-content: space-between;
   position: relative;
   z-index: 999;
}

.menu-toggle input {
   position: absolute;
   width: 40px;
   height: 28px;
   opacity: 0;
   left: -6px;
   top: -3px;
   cursor: pointer;
   z-index: 2;
}

.menu-toggle span {
   display: block;
   width: 28px;
   height: 3px;
   background-color: rgb(0, 0, 0);
   border-radius: 3px;
   position: relative;
   transition: all 0.5s;
   -webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
   -ms-transition: all 0.5s;
   -o-transition: all 0.5s;
} 

 /* hamburger menu animation */
.menu-toggle span:nth-child(2) {
   transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
   transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
   background-color: white;
   transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
   background-color: white;
   transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
   opacity: 0;
   transform: scale(0);
}
 /* Hamburger Menu End */

 /* Services */
.services {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   gap: 10px;
}

.service {
   background-color: white;
   padding: 15px;
   text-align: center;
   border: 1px solid #aaa;
   border-radius: 3px;
   box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -ms-border-radius: 3px;
   -o-border-radius: 3px;
}

.service h3 {
   font-size:  1.5em;
}

.service p {
   font-weight: 200;
   letter-spacing: 1px;
   font-size: 0.8em;
}

.service .icon {
   font-size: 3em;
}
.services img {
   width: 15%;
}


 /* Services End */

 /* Gallery */
.gallery {
   margin-top: 50px;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   gap: 5px;
}

.gallery h2 {
   grid-column: 1/ -1;
   text-align: center;
   margin-bottom: 20px;
}

 /* Responsive Breakpoint */
@media (max-width: 1024px) {
   .menu {
      order: inherit;
      grid-template-columns: 1fr;
   }  
   
   .menu .brand {
      display : none;
   }

    .hero > * {
      display: block;
      background-color: #000;
      color: white;
      padding: 5px;
      margin-bottom: 5px;
   }

   .hero {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
   }
}

@media (max-width: 768px) {
   .menu {
      order: -1;
      justify-items: end;
   } 

   .menu-toggle {
      display: flex;
   }

   .menu ul {
      display: flex;
      position: abslute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      z-index: 1;
      background-color: #000;
      transform: translateY(-100%);
      transition: all 1s;
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
   }

   .menu ul.slide {
      opacity: 1;
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
   }
}

@media (max-width: 750px) {
   body {
      margin: 15px;
   }
   .header {
      grid-template-areas: 
      'hero'
      'feature-1'
      'feature-2';
   }
}