* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  overflow-x: hidden;
  font-family: Courier Prime, monospace;
}

/* navbar */
nav {
  display: flex;
  background-color: greenyellow;
  justify-content: space-around;
  /* padding: 20px 0; */
  height: 50px;
  align-items: center;
}

nav .logo h4 {
  letter-spacing: 3px;
  font-family: Monsieur La Doulaise, cursive;
  font-size: 1.5em;
  font-weight: normal;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}
nav ul li {
  position: relative;
}

nav ul li a {
  text-decoration: none;
  font-size: 0.8em;
  color: darkgray;
  padding: 10px;
  display: block;
  
}

nav ul li a:hover {
  color: #000;
  transform: .75s;
}
nav ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #000;
  transform: scaleX(0);
  transition: transform .75s ease;
}
nav ul li a:hover::after {
  transform: scaleX(1);
}

/* hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -5px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: darkgray;
  border-radius: 3px;
  transition: all 0.5s;
}

/* animasi hamburger */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg);
  transform: translate(-1px -1px);
  background-color: #fffefb;
  -webkit-transform: translate(-1px -1px);
  -moz-transform: translate(-1px -1px);
  -ms-transform: translate(-1px -1px);
  -o-transform: translate(-1px -1px);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg);
  transform: translate(-1px 0);
  background-color: #fffefb;
}
.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}

/* responsive */
/* tablet */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

/* mobile */
@media screen and (max-width: 576px) {
  nav ul {
    position: absolute;
    flex-direction: column;
    right: 0;
    background-color:darkgray;
    backdrop-filter: blur(4px);
    top: 0;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    z-index: -1; 
    width: 50%;
    transform: translateX(100%);
    transition: all 1.3s;
    opacity: 0;
  }
  nav ul li a {
    margin-top: 20px;
    color: #fbf1d8;
  }
  .menu-toggle {
    display: flex;
  }
  nav ul.slide {
    transform: translateX(0);
    opacity: 1;
  }
}